.blognews{
    &__name{
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        text-align: center;

        color: #565F42;

        padding: 60px 0px;

        @media (max-width: 480px){
            font-size: 24px;
            line-height: 30px;
        }
    }
}
.blognews, .mainblog{
    &__inner{
        padding: 0px 15px;
    }
    &__list{
        list-style: none;

        display: grid;
        gap: 60px;
        grid-template-columns: repeat(1, minmax(300px, 1150px));
        grid-template-rows: repeat(3, 377px);

        justify-content: center;
        align-items: center;

        margin-bottom: 60px;
        @media (max-width: 1020px) {
            gap: 30px;
            margin-bottom: 30px;
        }
        @media (max-width: 880px){
            grid-template-rows: repeat(3, 1fr);
        }
    }

    &__item{
        display: grid;
        gap: 120px;
        grid-template-columns: repeat(2, minmax(300px, 1fr));

        @media (max-width: 1020px){
            gap: 60px;
        }
        @media (max-width: 880px){
            grid-template-columns: repeat(1, minmax(300px, 400px));
            grid-template-rows: repeat(2, 300px);
            justify-content: center;
            gap: 30px;
        }
        @media (max-width: 480px){
            gap: 15px;
            grid-template-rows: repeat(1, minmax(210px, 1fr) 300px);
        }
        
    }

    &__text{
        color: #565F42;
    }

    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        @media (max-width: 480px){
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__date{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BEBEBE;

        margin-bottom: 15px;
        @media (max-width: 480px){
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__info{
        font-size: 16px;
        line-height: 151.4%;
    }
}

.mainblog{
    padding: 30px 0px 0px;
}