.blog{
    &__inner{
        padding: 0px 15px;
        margin-bottom: 60px;

    }

    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        text-align: center;

        color: #565F42;

        margin: 0px 0px 30px;
    }

    &__list{
        list-style: none;

        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 20px;
        

        @media (max-width: 840px){
            grid-template-columns: repeat(1, minmax(250px, 1fr));
            justify-items: center;
        }
    }
    &__item{
        max-width: 550px;
    }
    &__img{
        display: block;
        max-width: 550px;

        margin-bottom: 30px;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    &__text{
        text-align: left;
        color: #565F42;
        &-date{
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;

            color: #BEBEBE;

            
        }
        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-transform: uppercase;

            @media (max-width: 1170px){
                font-size: 14px;
                line-height: 26px;
            }
        }

        &-info{
            font-size: 16px;
            line-height: 151.4%;

            @media (max-width: 1170px) {
                display: none;
            }
        }

        &-date, &-title,  &-info{
            margin-bottom: 15px;
        }
    }

    &__more{
        padding: 8px 23px;
        margin: 0px auto 0px 0px;
    }
}