.footer{
    background-image: url('..//img/footer/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__inner{
        padding: 75px 20px 50px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 1200px) {
            padding: 60px 20px;


            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 500px){
            padding: 30px 20px;
        }
    }
    &__media{
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        width: 405px;

        margin-right: 80px;
        @media (max-width: 1200px){
            margin: 0px 0px 30px;
        }

        @media (max-width: 500px){
            width: 100%;

            align-items: center;
        }
    }
    &__logo{
        max-width: 277px;

        margin-bottom: 35px;
    }
    &__social{
        margin-bottom: 35px;
        &-list{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 260px;
        }
        &-item{
            width: 40px;
            height: 40px;
           
            border-radius: 100px;

            background-color: #343D23;

            background-repeat: no-repeat;
            background-position: center center;

            transition: all .3s;
            
            &:first-child{
                background-image: url('../img/footer/f.svg');
            }
            &:nth-child(2){
                background-image: url('../img/footer/tv.svg');
            }
            &:nth-child(3){
                background-image: url('../img/footer/gogle.svg');
            }
            &:nth-child(4){
                background-image: url('../img/footer/inst.svg');
            }
            &:nth-child(5){
                background-image: url('../img/footer/yout.svg');
            }

            &:hover{
                background-color: #1e201a;
            }
        }

        &-link{
            display: block;

            width: 100%;
            height: 100%;
        }
    }

    &__subscrible{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;

        margin-bottom: 35px;

        @media (max-width: 500px){
            display: none;
        }
    }

    &__form{
        & form{
            display: flex;

            height: 50px;

            padding: 6px 5px 6px 22px;

            background-color: #343D23;

            @media (max-width: 500px){
                flex-direction: column;
                align-items: center;

                padding: 15px 20px;

                height: auto;
            }
        }

        &-mail{
            margin: auto;

            margin-right: 5px;

            @media (max-width: 500px){
                margin: 0px 0px 10px;
            }
           
        }
        &-btn{
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;

            padding: 12px 19px;

            @media (max-width: 500px){
                font-size: 12px;

                padding: 8px ;
            }
        }
    }

    &__nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        width: 100%;

        margin-right: 80px;

        @media (max-width: 1200px){
            max-width: 400px;
            
            margin: 0px 0px 30px;
            
            justify-content: space-between;
        }
        &-list{
            list-style: none;

        }

        &-item{
            font-size: 14px;
            line-height: 148.9%;
            letter-spacing: -0.06em;
            text-transform: uppercase;

            opacity: .75;
            transition: all .3s;
            &:not(:last-child){
                margin-bottom: 25px;
            }
            &:first-child{
                margin-bottom: 35px;
            }
            
            &:hover{
                opacity: 1;
            }
        }
    }
    &__contact{
        &-list{
            display: flex;
            justify-content: right;
            flex-direction: column;

            list-style: none;
            width: 400px;

            @media (max-width: 500px){
                width: 100%;
            }
        }
        &-item{
            font-size: 16px;
            line-height: 148.9%;
            letter-spacing: 0.005em;

            display: inline-flex;
            
            opacity: .75;

            transition: all .3s;
            

            &:not(:first-child){
                &::before{
                    content: '';

                    margin-right: 5px;
    
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto;
    
                    width: 20px;
                    height: 20px;
    
                    display: block;
                }
               
            }
           

            &:not(:last-child){
                margin-bottom: 25px;
                
            }
            &:first-child{
                margin-bottom: 35px;

                @media (max-width: 500px){
                    align-self: center;
                }
            }

            &:nth-child(2){
                &::before{
                    background-image: url('../img/footer/geo.svg');
                }
            }

            &:nth-child(3){
                &::before{
                    background-image: url('../img/footer/phone.svg');
                }
            }

            &:nth-child(4){
                &::before{
                    background-image: url('../img/footer/mail.svg');
                }
            }

            &:hover{
                opacity: 1;
            }
        }
        &-link{
            & span{
                display: inline;
                font-weight: 700;
            }
        }
    }
}