.intro{
    &__slaider{
        &-body{
            text-align: center;
            font-family: 'Montserrat';
            font-weight: bold;
            letter-spacing: 0.015em;
            text-transform: uppercase;

            padding: 200px 0px 0px;
            @media (max-width: 420px){
                padding: 115px 0px 0px;
            }
        }
        &-title{
            font-size: 60px;
            line-height: 73px;
            
            margin-bottom: 20px;
            @media (max-width: 940px){
                font-size: 50px;
                line-height: 55px;
            }
            @media (max-width: 420px){
                font-size: 35px;
                line-height: 40px;
            }
        }
        &-subtitle{
            font-size: 40px;
            line-height: 45px;

            margin-bottom: 20px;
            @media (max-width: 940px){
                display: none;
            }
        }
        &-text{
            font-size: 25px;
            line-height: 30px;
            
            width: 700px;

            margin: 0 auto 60px; 

            @media (max-width: 940px){
                max-width: 700px;
                width: 100%;
                padding: 0px 10px;
            }
            @media (max-width: 420px){
                margin: 0 auto 30px;
                display: none;
            }
            
        }

        &-link{
            font-weight: bold;

            padding: 20px 41px;
 
            @media (max-width: 420px){
                padding: 10px 20px;
            }
        }
    }
}

.slaider-item{
    height: 100vh;
    width: 100%;

    @media (max-width: 940px) {
        height: 85vh;
    }
    @media (max-width: 420px){
        height: 50vh;
    }
    
    background-image: url('../img/intro/slaider_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}